{% extends './layout.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/galeria.css">
    <script src="../static/js/galeria.js" async></script>
    <script>
        // Obtener el botón de pago por su clase
        var btnPagar = document.querySelector('.btn-pagar');
        
        // Agregar evento de clic al botón de pago
        btnPagar.addEventListener('click', function() {
            // Obtener el valor del monto
            var monto = document.getElementById('monto').innerText;
            
            // Eliminar los caracteres no numéricos del monto
            monto = monto.replace('$', '').replace('.', '');
            
            // Enviar el monto a la ruta de inicio de pago en Flask
            window.location.href = '/pago?monto=' + monto;
        });
    </script>


    <title>Instrumentos | </title>
</head>
<body>
    <header>
        <h1>Tienda de Instrumentos</h1>
    </header>
    <section class="contenedor">
        <!-- Contenedor de elementos -->
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">arpa</span>
                <img src="../static/img/arpa.jpg" alt="" class="img-item">
                <span class="precio-item">$150.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Bateria</span>
                <img src="../static/img/bateria1.jpg" alt="" class="img-item">
                <span class="precio-item">$205.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Guitarra Electrica</span>
                <img src="../static/img/electrica1.jpg" alt="" class="img-item">
                <span class="precio-item">$85.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Guitarra + estuche </span>
                <img src="../static/img/guitarra3.jpg" alt="" class="img-item">
                <span class="precio-item">$180.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">sacsofon</span>
                <img src="../static/img/sac.jpg" alt="" class="img-item">
                <span class="precio-item">$320.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Violin</span>
                <img src="..//static/img/violin.jpg" alt="" class="img-item">
                <span class="precio-item">$90.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Guitarra Pack</span>
                <img src="../static/img/guitarra2.jpg" alt="" class="img-item">
                <span class="precio-item">$54.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Pack de Guitarras</span>
                <img src="../static/img/guitarra1.jpg" alt="" class="img-item">
                <span class="precio-item">$32.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
        </div>
        <!-- Carrito de Compras -->
        <div class="carrito" id="carrito">
            <div class="header-carrito">
                <h2>Tu Carrito</h2>
            </div>

            <div class="carrito-items">
            <div class="carrito-total">
                <div class="fila">
                    <strong>Tu Total</strong>
                    <span id="monto" class="carrito-precio-total">
                        $120.000
                    </span>
                </div>
                <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
            </div>
        </div>
    </section>
</body>
</html>

{% endblock %}