{% extends './layout.html' %}

{% block body %}
 


<a> INICIO</a>
<!--  carrusel de la pagina -->
<div class="row">
    <div id="carousel" class="col-12" style="width: 50%; margin:0 auto;">
        <div id="myCarousel" class="carousel center slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <img class="d-block w-100" src="static/img/bateria1.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="static/img/bateria1.jpg">
                </div>
                <div class="carousel-item ">
                    <img class="d-block w-100" src="static/img/bateria1.jpgg">
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev" id="test">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next" id="test">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
<br>
<!-- fin carrusel -->
<div class="row">
    <div class="col-6">
        <P><strong>Bienvenidos a Music Pro:</strong><br> Bienvenides a nuestra linda tienta virtual, aquí mostraremos nuestros productos y nuestra historia donde comenzaremos a vender diferentes productos relacionado a todo lo natural, diversos materiales
            donde podran ir comprando todo lo que necesiten!!, ATENTOS A SU INAUGURACION
        </P>
    </div>
    <div class="col-6">
        <P>
            Music pro es una empresa formada por expertos  que ofrecen sus servicios a empresas, comunidades de personas, particulares, tales como:Equipo  de Musica generando asi encontrar lo que nesecita la gente
            de su banda.
        </P>
    </div>
</div>



{% endblock %}