<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.titulo }}</title>

    <link rel="stylesheet" href={{ url_for('static', filename='css/Menu.css') }}>
</head>
<body>
    <h1>{{ data.Bienvenidos }}</h1>
    <!--Header - Menu-->

     <header>
        <div class="container__header">
            <div class="logo">
                <a href="#">
                    <img src="static/images/Logomusic.jpg" alt="">
                </a>
            </div>

            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Intrumentos Musicales</a></li>
                        <li><a href="#">Contactos</a></li>
                        <li><a href="#">Carrito</a></li>
                    </ul>
                </nav>

                <a href="#"" class="btn__quote"></a>

                <div class="SocialMedia"></div>
                    <a href="#">
                        <img src="static/images/socia media/faceboock.png" alt="">
                    </a>
                    <a href="#">
                        <img src="static/images/social media/instagram.png" alt="">
                    </a>
                    <a href="#">
                        <img src="static/images/social media/twitter.png" alt="">
                    </a>
            </div>
        </div>
     </header>


</body>
</html>