<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/estilo.css">
</head>
<body>

    <main>

        <div class="contenedo__todo">
            <div class="caja de atras">
                <div class="caja login">
                    <h3>¿Ya tienes una cuenta ?</h3>
                    <p>Ininicia Sesion</p>
                    <button id="btn iniciar">Iniciar Sesion</button>
                </div>
                <div class="caja Registro">
                    <h3>¿Aun no tienes una cuenta?</h3>
                    <p>Registrate para poder Iniciar</p>
                    <button id="btn Registro">Registrarse</button>
                </div>
            </div>
            <!--Formulario login y registro-->
            <div class="contenedor formulario">
                <!--Login-->
                <form action="" class="formulario__login">

                    <h2>Iniciar Sesion</h2>
                    <input type="text" placeholder="Correo electronico">
                    <input type="password" placeholder="Contraseña">
                    <button>Entrar</button>
                </form>
                <!--Registro-->
                <form action="" class="formulario__Register">
                    <h2>Registrarse</h2>
                    <input type="text" placeholder="Nombre Completo">
                    <input type="text" placeholder="Correo electronico">
                    <input type="text" placeholder="Usuario">
                    <input type="password" placeholder="Contraseña">
                    <button>Registrarse</button>
                </form>
            </div>
        </div>

    </main>

</body>
</html>