{% extends './layout.html' %}

{% block body %}
 
<a>my cocos</a>


<div class="galeria container">
    <div class="contenedor-imagenes">
        <div class="row">
            <div class="col">
                <div class="imagen">
                    <img src="static/img/bateria1.jpg" alt="">
                    <div class="overlay">
                        <h2>Meceta planta XD Precio: $25.000
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="imagen">
                    <img src="static/img/electrica1.jpg" alt="">
                    <div class="overlay">
                        <h2>Flores y arbustos Precio: $15.000
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="imagen">
                    <img src="static/img/guitarra1.jpg" alt="">
                    <div class="overlay">
                        <h2>Spray Precio: $10.000
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        


        <div class="row">
            <div class="col">
                <div class="imagen">
                    <img src="static/img/guitarra2.jpg" alt="">
                    <div class="overlay">
                        <h2>Tierra fertilizante Precio: $10.000
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="imagen">
                    <img src="static/img/guitarra3.jpg" alt="">
                    <div class="overlay">
                        <h2>Tijeras Precio: $15.000
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="imagen">
                    <img src="static/img/piano 1.jpg" alt="">
                    <div class="overlay">
                        <h2>Herramientas Precio: $10.000
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}