{% extends './layout.html' %}

{% block body %}
 



<div> 


    <!-- Lista de productos -->
    <h2>Lista de productos</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Cantidad</th>
            <th>Foto</th>
            
        </tr>
        {% for producto in productos %}
        {% with urlFoto = '/static/uploads/' %}
        <tr>
            <th>{{ producto.0 }}</th>
            <th>{{ producto.1 }}</th>
            <th>{{ producto.2 }}</td>
            <th>{{ producto.3 }}</th>
            <th>{{ producto.4 }}</th>
            
            <th><img style="height: 100px; width: 100 px;;" src="{{ urlFoto }}{{ producto.5.decode('utf-8')}}" alt=""></th>
            <th>    
            <!-- editar, eliminar td--> 
            </th>
        </tr>
        {% endwith %}
        {% endfor %}
    </table>

</div>

{% endblock %}