{% extends './layout.html' %}

{% block body %}
 



<div class="galeria container">
    <div class="contenedor-imagenes">
        <div class="row">
            <div class="col">
                <div class="imagen">
                    <img src="static/img/bateria1.jpg" alt="">
                    <div class="overlay">
                        <h2>Bateria $25.000
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="imagen">
                    <img src="static/img/electrica1.jpg" alt="">
                    <div class="overlay">
                        <h2>Bajo electronico $150.000
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="imagen">
                    <img src="static/img/guitarra1.jpg" alt="">
                    <div class="overlay">
                        <h2>Guitarras pack $250.000
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        


        <div class="row">
            <div class="col">
                <div class="imagen">
                    <img src="static/img/guitarra2.jpg" alt="">
                    <div class="overlay">
                        <h2>Guitarra pack  $50.000
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="imagen">
                    <img src="static/img/guitarra3.jpg" alt="">
                    <div class="overlay">
                        <h2>Guitarra Bon Jovi: $100.000
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="imagen">
                    <img src="static/img/piano 1.jpg" alt="">
                    <div class="overlay">
                        <h2>Piano: $45.000
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}